body{
    margin: 0;
    font-family: 'Inter', roboto;
}
.container{
    max-width: 1500px;
    min-width: 700px;
    margin: 0 auto;
}
.backgraund{
    background-image: url(../img/фон.png);
width: 100%;
height: 700px;
text-align: center;
}
.venice{
    margin-top: 144px;
}
.text{
    margin-left: 40px;
    margin-top: 32px;
    font-size: 40px;
    font-weight: 400;
}

.cart-main {
    margin: 0 auto ;  
   
}  
    
    
.carts >div{
    width: 400px;
    height: 460px;
    border: 1px solid #231B0C;
    float: left;
    margin: 38px;
    background-color: #231B0C;
    
}
.gallery{
    margin-left: 114px;
    margin-top: 17px;
}
.sport{
    margin-left: 120px;
        margin-top: 17px;
}
.more{
    margin-left: 131px;
        margin-top: 17px;
}
.foto-gallery{
    position: relative;
    left: 50px;
    top: 110px;
}
.foto-sport{
    position: relative;
        left: 50px;
        top: 110px;
}
.foto-more{
    position: relative;
        left: 50px;
        top: 110px;
}
.fon2{
    margin-left: 90px;
    margin-top: 42px;
}
.footer{
    width: 1500px;
    height: 279px;
    border: solid 1px ;
    background-color: #150F02;
    margin-top: 40px;
}
.entertaiment{
    position: absolute;
    margin-top: 39px;
    margin-left: 419px;
}
.shops{
    position: absolute;
    margin-top: 39px;
    margin-left: 956px;
}
.restourants{
    position: absolute;
        margin-top: 91px;
        margin-left: 419px;
}
.art{
    position: absolute;
        margin-top: 91px;
        margin-left: 956px;
}
.contacts{
    text-align: center;
}
.text-contacts{
font-weight: 600;
font-size: 20px;
color: #FFFFFF;
margin-left: 685px;
margin-top: 128px;
position: absolute;
}
.line{
    position: absolute;
    border-bottom: solid #FF6B00;
    border-bottom-width: 10px;
    width: 318px;
    height: 6px;
    margin-top: 161px;
    margin-left: 592px;
}
.instagram{
    position: absolute;
    margin-left: 670px;
    margin-top: 191px;
}
.facebook{
    position: absolute;
        margin-left: 734px;
        margin-top: 191px;
}
.youtube{
    position: absolute;
        margin-left: 798px;
        margin-top: 191px;
    }
}