:root{
    font-size: 20px;
    --color-title-card: rgba(53, 60, 87, 1)
}

body{
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
  background-color: rgba(251, 228, 255, 1);
}


.container{
    width: 70%;
    margin: 0 auto;
}

.header-top{
    background-color: rgba(36, 59, 147, 1);
    display: flex;
    justify-content: space-between;
    padding: 0 9rem;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 2;
}
.logo{
display: flex;
align-items: center;
}

.header-top_nav{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
align-items: center;
width: 70%;
justify-content: space-between;
text-align: center;
}
.header-top_nav a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
    .title{
background-color: rgba(191, 240, 255, 1);
    }
    .title h2{
        font-weight: 400;
        margin: 0;
        font-size: 2.4rem;
        font-style: italic;
        padding: 1rem 0;

    }
    .list{
        background-color: white;
        padding: 0.5rem;
        margin: 2rem 0;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        position: relative;
    }

    .list::after{
        content: url(/img/arrow.svg);
        position: absolute;
        right: 1rem;
    }
    .card:hover{
     background: rgba(44, 189, 235, 1);
    box-shadow: 0px 0px 60px 4px rgba(44, 189, 235, 1);
    
    }
    .card:hover .star path{
        fill: yellow
    }
    .card:hover .bottom{
        background: rgba(239, 7, 91, 1);
    }
    .card{
        background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);;
        display: flex;
        justify-content: space-evenly;
        padding: 1rem 0;
        position: relative;
        margin: 1.5rem auto;
        transition: all 1s;
        
    }

    card-img >img{
        width: 100%;
        min-width: 100%;
         
    }
    .card > card-img{
    width: 30%;
    }

    .card .card-description__title{
        font-weight: 700;
        font-style: italic;
        font-size: 1.8rem;
        border-bottom: 3px solid white;
        color: rgba(53, 60, 87, 1);
        
    }
    
    .card .card-description__content{
    font-weight: 400;
    font-size: 1rem;
    background-color: rgba(237, 251, 255, 1);
    margin-top: 20px;
    height: 60%;
    padding-left: 1rem;
    padding-top: 1rem;
    line-height: 28px
    }
    .card > .card-description{
     width: 60%;
    }

    .card .star .bottom{
        position: absolute;
    }

    .card .bottom{
        position: absolute;
        display: inline-block;
            bottom: 10px;
            right: -25px;
            background-color: rgba(36, 59, 147, 1);
            color: white;
            width: 200px;
            height: 30px;
            padding: 0.25rem 0;
            text-align: center;
            border-radius: 30px;
            font-size: 1rem;}

    .card .star{
        position: absolute;
        top: 5%;
        left: 96%;
    }

    .cabinet-line{
        background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
        margin-top: 30px;
    }

    .cabinet{
        font-weight: 400;
            font-size: 2.3rem;
            font-style: italic;
        color: rgba(36, 59, 147, 1);
        padding: 1rem 0;
        
        
    }
 .contacts{
    height: 500px;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    margin: 2rem auto;
    position: relative;
 }

 .group1{
   margin: 4rem 8rem;
   position: absolute;
  text-align: center;
 }
 .foto{
    margin-left: 1rem;
 }
  .contacts-bottom-blue{
    background: #243B93;
    border-radius: 30px;
    width: 250px;
    height: 45px;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 35px;
 }
   .contacts-bottom-red {
       background: rgba(239, 7, 91, 1);
       border-radius: 30px;
       width: 250px;
       height: 45px;
       color: white;
       font-weight: 400;
       font-size: 1rem;
       margin-top: 26px;
   }
   .group2{
   position: absolute;
   left: 25rem;
   top: 1.4rem;
   }
   .group2 >div{
   font-weight: 700;
   font-size: 1.8rem;
   font-style: italic;
   color: rgba(53, 60, 87, 1);
   margin: 0.9rem;
   }
   .line-white{
    border-bottom: solid white 3px;
   }
   .text-contact{
    font-weight: 400;
        font-size: 1.8rem;
        font-style: italic;
   }
.blue-btm{

        background-color: rgba(36, 59, 147, 1);
        color: white;
        width: 170px;
        height: 30px;
        padding: 0.25rem 0;
        text-align: center;
        border-radius: 30px;
        font-size: 20px;
        text-transform: capitalize;
        margin: 0 auto;
}
.contacts-map{
    position: relative;
}
.contacts-group1{
 margin-top: 1rem;
}

.contacts-group1 >div{
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1rem 0;
}
.line{
    border-bottom: 2px black solid;
        width: 250px;
}
.line1{
    border-bottom: 2px black solid;
    width: 380px;
}
.contacts-group2{
    position: absolute;
    top: 0.15rem;
    left: 23rem;

}
.contacts-group2>div{
    font-weight: 400;
        font-size: 1.5rem;
}
.map{
   position: absolute;
   top: 0.5rem;
   left: 40rem;
}
.footer{
    background-color: rgba(36, 59, 147, 1);
    height: 65px;
    margin-top: 8rem;
    display: flex;
    align-items: center;
}
.footer >div{
    font-weight: 700;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.16em;
}
.arrow-stiky{
    position: fixed;
    top: 80vh;
    left: 83%;
    z-index: 3;
}

a{
    text-decoration: none;
}


