body{
    font-family: 'Roboto',
        sans-serif;
        font-weight: 700;
        margin: 0;

    }  
    .size{
        max-width: 1000px;
        min-width: 700px;
        margin: 0 auto;
    }

.header{
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 25px;
    text-align: center;
    
    
}
.header-blue{
    color: #3E45EB;
}
.header-yellow{
    color: #E8C23E;
}
.prapor1{
    padding-bottom: 50 px;
}
.text{
    font-size: 38px;
    font-weight: 700;
    font-family: 'Roboto' ;
    margin-left: 80px;
    font-weight: 700;
    padding-top: 60px;
}
.background{
    background-image: url(../Image/фонове\ зображення.png);
background-size: 110%;
height: 580px;
width: 100%;
margin-top: 25px;
}
.background div image{
    padding-top: 300px;
  
}
.prapor1{
    padding-left: 80px;
    padding-top: 150px;
}

.wighttext{
    color: white;
    font-size: 38px;
    font-weight: 700;
    line-height: 1em;
    margin-left: 125px;
   margin-top: -320px

   
}


.prapor{
padding-bottom: 1px;
}

.card{
    margin-left: 30px;
    margin-top: 37px;
    
}
.conteiner > div{
width: 280.2px;
height: 470px;
border: 5px solid #0D095F;
border-radius: 35px;
display: inline-block;
margin: 10px;
overflow: hidden;

}
.card1{
box-shadow: -16px 21px 40px #0072DB;
}
.card2{
    box-shadow: 0px 21px 35px #0072DB;
}
.card3{
    box-shadow: 16px 21px 40px #0072DB;
}
.p1{
    font-size: 20px;
    font-weight: 700;
    color: #0072DB;
    margin-left: 26px;
}
.p2{
    font-size: 16px;
    font-weight: 400;
    color: #FF9900;
    margin-left: 26px;

}
.ukraina-peremozhe{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
}
.line{
border-bottom: solid; color: #1400FF; width: 550px;
border-bottom-width: 5px;
margin: 0 auto;


}
.map{
    margin-top: 50px;
    width: 800px;
}

.bottom{
    width: 500px;
    height: 81px;
     border-radius: 50px;
    margin-top: 23px;
    background: #1400FF;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    
}
.go{
    color: white;
    font-size: 64px;
    font-weight: 700;
    text-decoration: none;
    margin-top: 20px;

}
.footer{
    background-image: url(../Image/Rectangle\ 7.png);
    height: 200px;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    
}

.blue{
    color: #3E45EB;
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
}
.yellow {
    color: #E8C23E;
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
}

.mail{
    font-size: 36px;
        font-weight: 400;
        color: #A89D9D;

}
.phone{
    font-size: 36px;
        font-weight: 400;
        color: #A89D9D;
}
.instagram{
    padding-right: 10px;
}
.youtube{
    padding-left: 10px;
}
a{
    text-decoration: none;
}
