body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100%;
    background-color: rgba(33, 37, 41, 1);
    margin: 0 auto;
    --color-white: white;
    --color-orange: #ffb742;
}

.nav-items :hover{
    color: #FFB742;
}
.my-work-items :hover{
    background-color: #FFB742;
    padding: 1rem;
}


.header{
    display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }
   

.nav-items{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 30%;
    justify-content: space-between;
    text-align: center;
    font-weight: 600;
}
.nav-items a{
    text-decoration: none;
        color: white;
        font-size: 1rem;
}

.btm{
    background-color: #FFB742;
    padding: 1rem 1.5rem;
    border-radius: 50px;
    color: #212529;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    width: 10%;
    text-align: center;
    }
    .header .btm{
        width: 10%;
    }
    .creative-designer{
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem auto;
        text-align: center;
    }
    .creative-designer a{
        color: #FFB742;
    }
    .creative-designer p{
     font-size: 1.6rem;
     font-weight: 700;
     text-transform: capitalize;
    }
    .creative-designer h1{
        font-size: 2.4rem;
        font-weight: 700;
        text-transform:capitalize;
    }
    .creative-designer div{
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: capitalize;
        padding: 1rem;
    }
    .about-me{
        padding: 0.1rem;
    }
        .cards {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: 0 auto;
    
        }
    
        .card {
            width: 31.5%;
            background: #292b2e;
            color: var(--color-white);
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 3rem 0;
            font-family: "Inter", sans-serif;
            font-weight: 700;
            border-radius: 10px;
            cursor: pointer;
            text-align: center;
        }
    
        .card:hover {
            background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
        }
    
        .card:hover .card-title,
        .card:hover .card-subtitle {
            color: #212529;
        }
    
        .card-title {
            font-size: 3.2rem;
            color: var(--color-orange);
        }
    
        .card-subtitle {
            font-size: 1.6rem;
            color: var(--color-white);
        }
        .main-information{
            width: 90%;
            display: flex;
            justify-content: space-between;
            margin: 10rem auto;
        }
        .foto{
            width: 40%;
            position: relative;
        }
        .foto .man{
            position: absolute;
            z-index: 1;
            left: -5rem;
        }
        .text-information{
            width: 50%;
            text-align: left;
        }
        .btm-black{
            background-color: rgba(255, 255, 255, 0.08);
            width: 15%;
            font-weight: 600;
            font-size: 1rem;
            border-radius: 50px;
            padding: 1rem;
            text-transform: uppercase;
            color: #FFB742;
            font-family: 'Poppins', sans-serif;
            text-align: center;
    
        }


        .heading{
            font-weight: 700;
            font-size: 2.4rem;
            text-transform: capitalize;
            color: white;
            text-align: start;
            font-family: 'Roboto', sans-serif;
            margin: 0;
        }

        .wihte-text{
        font-weight: 400;
        font-size: 0.9rem;
        font-family: 'Poppins', sans-serif;
        text-align: start;
        color: white;
        line-height: 30px;
        padding-bottom: 3rem;
    }
    .skills{
        width: 90%;
        display: flex;
            justify-content: space-between;
            margin: 0 auto;
    }
    .slills div{
        font-weight: 600;
        font-size: 1rem;
        color: #FFB742; 
        text-align: center;

    }
    .skills-text{
        width: 40%;
    }
.skills-img{
    width: 40%;
    height: 20%;
}
.heading-my-work{
    width: 40%;
    margin: 7rem auto 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-work-items{
    display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;
        width: 30%;
        justify-content: space-between;
        text-align: center;
        font-weight: 600;
        font-size: 1rem;
        color: white;
        margin: 3rem auto;
}
.my-work-cards{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.my-work-cards-right{
    width: 26%;
}
.my-work-cards-centre{
    width: 26%;
}
.my-work-cards-left{
    width: 26%;
}
.my-work-cards-right img {
    padding-bottom: 2rem;
}

.my-work-cards-centre img {
    padding-bottom: 2rem;
}

.my-work-cards-left img {
    padding-bottom: 2rem;
    }
    .testimonails{
        width: 40%;
            margin: 7rem auto 0rem;
            display: flex;
            flex-direction: column;
            align-items: center;
    }

.white-cards{
    display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 8rem auto;
}

.white-card{
    background-color: white;
    width: 26%;
    border-radius: 10px;
}

.white-card img{
    padding: 2rem 2rem 0;
}
.white-card p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 34px;
    padding-left: 2rem;
    padding-top: -2rem;
    padding-right: 2rem;
}
.designer{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.designer img{
    width: 30%;
}
.text-designer{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    text-align: start;
}
.text-designer div{
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 0;

}
.text-designer p{
    font-weight: 400;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.footer{
    width: 100%;
    background-color: rgba(28, 28, 28, 1);
    display: flex;
    justify-content: space-between;
    padding: 8rem 5rem 8rem 5rem;
}
.footer a{
    text-decoration: none;
    color: rgba(212, 212, 212, 1);
}
.footer-text1{
    width: 15%;
}
.footer-text1 div{
    font-weight: 700;
    color: #FFB742;
    font-size: 1.6rem;
    text-transform: capitalize;
}
.footer-text1 p{
    font-weight: 600;
    font-size: 1rem;
    color: rgba(212, 212, 212, 1);
    padding-top: 1.5rem;
}
.footer-text2{
width: 15%;
}
.heder-text{
    font-weight: 700;
    font-size: 1.2rem;
    color: rgba(212, 212, 212, 1);
    font-style: normal;
    line-height: 32px;
    padding-left: 2.1rem;
}
.footer-items{
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
    text-align: start;
    line-height: 36px;
}

   
